*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 300px;
    height: 300px;
    background-color: transparent;
    margin: 50px auto;
    position: relative;
    perspective: 1000px;
    vertical-align: baseline;
    transform-style: preserve-3d;
}

.book-spine{
    height: 100%;
    width: 100px;
    background-color: red;
    transition: transform 2s;
    transform: rotateY(60deg) translateY(-5px) translateZ(-12px);
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.book-spine li{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d; */
    transform-style: preserve-3d;
}

.book-spine li:first-child{
    transform: translateZ(2px);
    width: 100%;
    height: 100%;
    background-color: rgb(238, 215, 151);
}

.book-spine li:first-child:before, 
.book-spine li:first-child:after{
    content: "";
    width: 7px;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
}
.book-spine li:first-child:before{
    transform: rotateY(-90deg) translateZ(0px) translateX(5px);

}
.book-spine li:first-child:after{
    transform: rotateY(90deg) translateZ(95px) translateX(-5px);
}
.book-spine li:last-child{
    transform: translateZ(-2px);
    background-color: rgb(238, 215, 151);
}
body:hover .container{
    transform: rotateY(170deg);
    transition: transform 5s;
}
.book-spine li:last-child::before{
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: transparent;
    content: "";
    top: 0;
    left: 0;
    box-shadow: 5px -1px 100px 40px rgba(0, 0, 0, 0.2);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);
}
.book-spine li:last-child::after{
    /* position: absolute;
    width: 4px;
    height: 100%;
    background-color: pink;
    content: "";
    top: 0;
    left: 0;
    box-shadow: 5px -1px 100px 40px rgba(0, 0, 0, 0.2);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px); */
}

/* Front Cover */


.front-cover{
    height: 100%;
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 0; 
    left: 30px;
    /* transform: rotateY(-180deg); */
    /* transform: rotateY(-40deg) translateY(-6px) translateZ(00px) translateX(20px); */
    transform: rotateY(-34deg) translateZ(40px) translateY(-5px) translateX(25px);
    /* transform: rotateY(-30deg) translateY(); */

    z-index: 17;
    transform-origin: left center;
}